body {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    width: 100%; /* La page occupe toute la largeur */
}
picture {
    display: flex;
}
header {
    width: 916px; /* Les headers et sections occupent 916px (taille de la bannière) */
    display: flex; /* Ce conteneur est "flexible" */
    flex-direction: column; /* Les éléments sont empilés */
}
#contact h1 {
    margin-top: 10px;
    text-align: left;
}

#contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-top: 10px;
}

#contact form fieldset {
    padding: 10px;
}

#coordo legend {
    padding: 0 5px;
    font-weight: bold;
}

#coordo label {
    margin-right: 10px;
}

#coordo input, #coordo select {
    flex: 1;
}

#coordo div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#coordo input[type="checkbox"] {
    margin-right: 5px;
}

#coordo #marques label {
    text-transform: capitalize;
}

#coordo fieldset {
    width: fit-content;
    margin: auto;
}

#motif {
    align-self: flex-start;
}

#motif legend {
    padding: 0 5px;
    font-weight: bold;
}

#motif div {
    margin: 10px;
}

#motif label {
    margin-left: 10px;
}

#controles {
    margin-top: 10px;
}

#controles input {
    padding: 10px;
}

#controles input:first-child {
    margin-right: 10px;
}

input:valid, :not(input[type="submit"]) {
    color: green;
}
input:invalid {
    color: red;
}

#coordo div.input-validation {
    margin: 0;
}

input[type="text"]:valid ~ .input-validation::before,
input[type="email"]:valid ~ .input-validation::before {
    content: "✔";
    margin-left: 5px;
    color: green;
}
#video {
 display: flex;
}
#video img, #video article p, #video iframe {
 padding-top: 16px;
}
#video img {
 float: left;
}
#video article {
 width: 50%;
 padding-right: 10px;
}
#video article p span {
 color: red;
 font-weight: bold;
}
#video article p {
 text-align: justify;
}
#video article p {
 padding-right: 10px;
 text-align: justify;
}

footer {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    position: fixed; /* Le conteneur est fixé en fonction de ses coordonnées (à 0px du bas) */
    bottom: 0px; /* Bas */
    height: 35px; /* Hauteur */
    width: 100%; /* Le pied de page occupe toute la largeur */ 
    background-color:#2d2d2d; /* Couleur de fond */
    color: #bbb; /* Couleur du texte */
    text-align:center; /* Texte centré */
}

footer p {
    font-size: large; /* Le texte est grossi en L */
}

footer a{
    color: inherit; /* Couleur du lien identique à celle du conteneur */
}


@media screen and (max-width:576px) {
    #motif {
        margin-top: 20px;
    }
}